<h1>njms.ca</h1>
<p>This is my blog :)</p>
<p>This website is statically generated using <a href="https://cobalt-org.github.io/">Cobalt.rs</a>. Instructions on how to build it can be found in detail in their docs.</p>
<p>Simply put,</p>
<pre style="background-color:#2b303b;">
<code><span style="color:#c0c5ce;">$ cobalt serve # Creates a live-reloading HTTP server
</span><span style="color:#c0c5ce;">$ ./deploy # Builds the site once and moves it to the &quot;pages&quot; branch
</span></code></pre>
<h2>License</h2>
<p>The website's source code is licensed under the GNU Affero General Public License v3.0 (see ./LICENSE_CODE.txt). Other content, including written text and images are licensed under the Creative Commons Attribution-ShareAlike 4.0 International License (see ./LICENSE_CONTENT.txt).</p>
