<!DOCTYPE html>

<html lang="en">
  <head>
    <title>njms - wiki</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/wiki.css">
  </head>
  <body>
    <div class="main-container">
      <main>
        <p>
          <a href="/">&lt;- leave the wiki</a> or <a href="index.html">go home</a>
        </p>

        <h1>ccalathea</h1>
<p>Tags: <a href='projects.html'>projects</a></p>
<p>This project has been deprecated in favour of <a href='calathea.html'>calathea</a></p>
<p>ccalathea is a small static wiki generator written in <a href='c.html'>C</a>. It's also the
backbone of the website you're browsing right now. ccalathea tries not to
accomplish too much, focusing on doing a few things well. Things it does to
varying degrees of wellness include:</p>
<ul>
<li>Extending Markdown to support [[wikilinks]]</li>
<li>Very rudimentary templating</li>
<li>Rendering incoming links for every page</li>
</ul>
<p>ccalathea is the first complete project I've ever taken on entirely in C as a
part of my quest A) to roll more of my own tooling and B) to get away from the
encroaching wave of software written in JavaScript that won't run well on my
aging equipment.</p>
<h2>Usage</h2>
<p>If you just run <code>calathea</code> in your terminal, it'll search for a folder named
<code>./pages</code> and a template file named <code>./template.html</code>. The <code>./pages</code> folder
contains files written in Markdown to be rendered. This folder can be
configured with the <code>--src</code> flag. Similarly, the template file can be
configured with the <code>--template</code> flag.</p>
<p>As of version 1.0.0-beta.1, your template file can contain a few
pseudo-Moustache templates:</p>
<ul>
<li>{{content}} - Will be replaced with the page's content from your source
directory</li>
<li>{<span></span>{incoming}} - Will be replaced with an unordered list of
links that link to the current page</li>
</ul>
<p>The first line of each source file is the name of the page, as it can be
wikilinked to. The rest of the page is the content that gets spliced into the
template. For example,</p>
<pre><code>Page Title This is some content.
</code></pre>
<p>If this were the content of a file in your source directory, then it could be
wikilinked to by writing [[page title]]. Note that page titles
in wikilinks are case-insensitive.</p>
<h2>How it works</h2>
<p>The build process is fairly straightforward:</p>
<ol>
<li>All the source pages are collected and stored in the memory as a linked list</li>
<li>The list is traversed for edge processing. Each page in the memory maintains
a dynamic list of all pages linking to it. When a new page is discovered to
link to it, that page gets added to its incoming list. At this point, wikilinks
are rendered to standard Markdown or HTML links</li>
<li>The list is traversed again, this time searching for the pseudo-Moustache
templates in which to splice important content. The final renders are then
stored in the build directory.</li>
</ol>
<p>For this to work, we need to be able to efficiently get a pointer to a page in
the memory given its title. To do this, ccalathea also maintains a hash map
using a polynomial hash function and implementing open addressing.</p>
<h2>Deprecation</h2>
<p>In August 2023, I decided to rewrite this project in Rust. My reasons for doing
so were:</p>
<ul>
<li>The novelty of writing in C wore off very quickly once I started working on
bug fixes</li>
<li>While my hyper-minimalist approach was nice at first, there were a
few things I really wanted that wouldn't be easy to do without doing a major
rewrite and juggling more dependencies in a build system I didn't understand</li>
</ul>
<p>This project was originally called <code>calathea</code>, but the rewrite took the name
and this project was renamed to <code>ccalathea</code>.</p>

      </main>

      <footer>
        <p class="dinkus" aria-hidden="true">* * *</p>
        

        <p>
          Unless otherwise noted, content is
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">
            CC-BY-NC-SA 4.0</a> license.<br/>All code is distributed under the
          <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" rel="license">
          AGPL</a> license (<a href="https://codeberg.org/njms/pages">source</a>).
        </p>
        <p>Built with <a href="calathea.html">calathea</a></p>
      </footer>
    </div>
  </body>
</html>
