body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 25%;
  padding-right: 25%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Monaco, monospace; }

a {
  color: #059341;
  text-decoration: none; }

a:hover {
  color: #27ae60;
  text-decoration: underline; }

footer {
  text-align: center; }
  footer .dinkus {
    margin-top: 5em; }

nav {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center; }
  nav ul {
    padding: 0; }
  nav ul > li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block; }

@media screen and (max-width: 768px) {
  body {
    padding-left: 5%;
    padding-right: 5%; }
  nav {
    margin-left: 0;
    margin-right: 0; } }
