body {
  margin: 0;
  padding: 0; }

#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#skip:focus {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: auto; }

.world-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  .world-container .image-container img {
    height: 100vh;
    z-index: 0; }
  .world-container .image-container figure {
    margin: 0;
    position: relative; }
    .world-container .image-container figure figcaption {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
  .world-container .image-container li {
    list-style: none; }
  .world-container .image-container a {
    position: absolute;
    display: inline-block;
    z-index: 1; }
    .world-container .image-container a span {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }

footer > nav {
  border-top: 5px double black; }
  footer > nav ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    footer > nav ul li {
      width: 150px;
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      text-align: center; }

a {
  color: #059341;
  text-decoration: none; }

a:hover {
  color: #27ae60;
  text-decoration: underline; }

@media screen and (max-width: 768px) {
  nav > ul {
    flex-direction: column; }
  .world-container {
    height: 100vh;
    display: flex;
    align-items: center; }
    .world-container .image-container img {
      height: 100%;
      width: 100%; } }
