body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  hyphens: all;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Monaco, monospace; }

h2, h3, h4, h5, h6 {
  margin-bottom: 0.2em; }

h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0; }

h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
  margin-top: 0; }

a {
  color: #059341;
  text-decoration: none; }

a:hover {
  color: #27ae60;
  text-decoration: underline; }

pre {
  padding: 10px;
  max-width: 100%;
  overflow: scroll; }

.vertical-list {
  margin: 0;
  padding-left: 0;
  list-style: none; }
  .vertical-list li {
    display: inline;
    padding-right: 10px; }
  .vertical-list li:last-child {
    padding-right: 0; }

.sidebar {
  /* Interestingly, if this is placed outside the nav {} wrapper, the sidebar
   * overflows. I'm not sure why.
   */
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #fff;
  border-right: 5px double black;
  width: 20%;
  position: fixed;
  height: 100vh;
  top: 0;
  overflow: auto; }
  .sidebar nav {
    padding: 1.8em; }
  .sidebar .sidebar-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold; }
  .sidebar .links {
    margin-left: 10px;
    margin-top: 0.5em;
    padding: 0;
    list-style-type: none; }
    .sidebar .links li {
      font-weight: bold;
      border-left: 2px solid black;
      padding-left: 0;
      padding-top: 10px;
      font-size: 1.2em;
      display: block; }
      .sidebar .links li a {
        /* Nasty hack or creative solution to make the list look like the
         * output of `tree`
         */
        display: inline-block;
        transform: translate(3px, 10px); }
    .sidebar .links li:first-child {
      padding-top: 0; }
    .sidebar .links li:before {
      content: "_";
      display: inline-block;
      transform: translate(0, 2px); }

.sidebar-posts {
  padding-left: 10px;
  list-style: none; }

.sidebar-post {
  font-size: 1em;
  font-weight: bold;
  padding-top: 40px;
  font-family: "Lucida Console", Monaco, monospace; }

.top-navbar {
  display: none;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #fff;
  text-align: center;
  padding: 15px; }
  .top-navbar .top-nav-header {
    margin-top: 0em;
    margin-bottom: 0.5em; }

.main-container {
  min-height: 100vh;
  flex-direction: column;
  margin-left: 20%;
  width: 80%; }

main {
  flex: 1; }

.hero {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  height: auto;
  background-color: #fff;
  color: black; }
  .hero img {
    display: flex;
    margin: auto;
    width: 60%; }

.hero h1 {
  font-size: 2em;
  font-weight: normal; }

.hero p {
  font-size: 1.2em; }

.hero ul {
  font-size: 1.1em; }

.main-content {
  margin-left: 20%;
  margin-right: 20%; }
  .main-content .post-list {
    list-style: none;
    padding-left: 0; }
  .main-content .post-item {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; }

footer {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  background-color: #fff;
  color: black;
  text-align: center; }
  footer .dinkus {
    padding-top: 2em;
    padding-bottom: 2em; }
  footer footer > .license {
    margin-top: 5px; }

.webrings :first-child {
  margin-top: 20px;
  margin-bottom: 0; }

.webrings p {
  margin: 0; }

.webrings :last-child {
  margin-top: 0;
  margin-bottom: 20px; }

ul.footer-links:last-child {
  padding-right: 0; }

.post {
  padding-left: 14vw;
  padding-right: 14vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-size: 1.2em; }
  .post .date {
    font-family: "Lucida Console", Monaco, monospace;
    color: #444;
    font-size: 1em; }
  .post figure {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .post img {
    width: 100%; }
  .post figcaption {
    padding: 10px;
    color: grey; }
  .post .post-title {
    font-size: 50px;
    font-weight: 500; }

@media screen and (max-width: 1000px) {
  .sidebar nav {
    padding: 0.6em; }
  .sidebar .links li {
    font-size: 1.1em; } }

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 3em;
    margin-right: 3em; }
    .hero img {
      width: 100%; }
  .sidebar {
    display: none; }
  .top-navbar {
    display: block; }
  .post {
    padding-left: 5vw;
    padding-right: 5vw; }
  .main-container {
    margin-left: 0;
    width: 100%; }
  .main-content {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 3em; } }

@media print {
  .sidebar {
    display: none; } }
