* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lucida Console", Monaco, monospace;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
}

a { color: #059341; text-decoration: none; }
a:hover { color: #27ae60; text-decoration: underline; }

a.calathea-404 { color: red; }
a.calathea-404:hover { color: darkred; }

pre {
  border: 2px solid black;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
}

.main-container {
  width: 60%;
  margin:auto;
  margin-top: 5em;
  border: 5px double black;
}

main {
  padding: 40px;
}

.dinkus {
  margin-top: 5em;
}

footer {
  text-align: center;
}

.incoming-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.calathea-incoming {
  list-style: none;
  padding-left: 0;
  display: inline;
}

.calathea-incoming > li {
  display: inline;
  padding-right: 10px;
}

.calathea-incoming > li:first-child {
  padding-left: 10px;
}

@media screen and (max-width: 1000px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    border: none;
    width: 100%;
    margin-top: 2.5em;
  }

  main {
    padding: 20px;
  }
}
